/* Typo
–––––––––––––––––––––––––––––––––––––––––––––––––– */
html {
	font-size: 62.5%; }
	
body {
	font-size: 1.3em; /* currently ems cause chrome bug misinterpreting rems on body element */
	line-height: 1.6;
	font-weight: 400; /* Regular 300~500, Bold 600~700, Extra Bold 800~900 */
	color: #888; }
	
p {
	margin: 0; }
	


/* List Table
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.list-table {
	border: 1px solid #d9d9d9; }
	
.list-table th {
	font-size: 1.3rem;
	font-weight: normal;
	color: #000;
	border: 1px solid #d9d9d9;
/* 	border-top: 2px solid #3b095e; */
	background-color: #f5f5f5;
	height: 37px;
	padding-left: 10px;
	padding-right: 10px; }

.list-table td {
	font-size: 1.3rem;
	border: 1px solid #d9d9d9;
	height: 33px;
	padding-left: 10px;
	padding-right: 10px; }

.list-header {
	margin-bottom: 10px; }
	
.list-table a {
	text-decoration: underline; } 
	




/* Dialog
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.dialog {
	display: none; }
	
.dialog .pool,
.dialog .chosen {
	position: absolute;
	width: 46%;
	height: 100%;
	border: 1px solid #ddd;
	padding: 10px;
	box-sizing: border-box; }
	
.dialog .pool {
	border-right-color: #3b095e; }

.dialog .chosen {
	right: 0;
	border-left-color: #3b095e; }
	
.dialog .buttons {
	position: absolute;
	left:0;
	right:0;
	top: 0;
	bottom: 0;
	margin: auto;
	width: 6%;
	height: 80px; }
	
.dialog .buttons .button {
	margin: 5px 0; }
	
.dialog .column-title {
	font-size: 1.2rem;
	color: #a0a0a0;
	height: 30px;
	line-height: 30px;
	vertical-align: middle; }
	
.dialog .chosen .column-title {
	color: #573592; }

.user_dialog {
	display: none; }
	
.user_dialog .pool,
.user_dialog .chosen {
	position: absolute;
	width: 46%;
	height: 100%;
	border: 1px solid #ddd;
	padding: 10px;
	box-sizing: border-box; }
	
.user_dialog .pool {
	border-right-color: #3b095e; }

.user_dialog .chosen {
	right: 0;
	border-left-color: #3b095e; }
	
.user_dialog .buttons {
	position: absolute;
	left:0;
	right:0;
	top: 0;
	bottom: 0;
	margin: auto;
	width: 6%;
	height: 80px; }
	
.user_dialog .buttons .button {
	margin: 5px 0; }
	
.user_dialog .column-title {
	font-size: 1.2rem;
	color: #a0a0a0;
	height: 30px;
	line-height: 30px;
	vertical-align: middle; }
	
.user_dialog .chosen .column-title {
	color: #573592; }
	
.server_dialog {
	display: none; }
	
.server_dialog .pool,
.server_dialog .chosen {
	position: absolute;
	width: 46%;
	height: 100%;
	border: 1px solid #ddd;
	padding: 10px;
	box-sizing: border-box; }
	
.server_dialog .pool {
	border-right-color: #3b095e; }

.server_dialog .chosen {
	right: 0;
	border-left-color: #3b095e; }
	
.server_dialog .buttons {
	position: absolute;
	left:0;
	right:0;
	top: 0;
	bottom: 0;
	margin: auto;
	width: 6%;
	height: 80px; }
	
.server_dialog .buttons .button {
	margin: 5px 0; }
	
.server_dialog .column-title {
	font-size: 1.2rem;
	color: #a0a0a0;
	height: 30px;
	line-height: 30px;
	vertical-align: middle; }
	
.server_dialog .chosen .column-title {
	color: #573592; }			
	
.ui-dialog {
	margin: 0;
	padding: 12px 20px 20px 20px;
	-webkit-box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.25);
	   -moz-box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.25);
			box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.25);
	border: 1px solid #d9d9d9; }
	
.ui-dialog .ui-dialog-titlebar {
	background: 0;
	padding: 0;
	margin: 0 0 15px 0;
	-webkit-border-radius: 0;
	   -moz-border-radius: 0;
			border-radous: 0;
	border: 0;
	border-bottom: 2px solid #3b095e; }
	
.ui-dialog .ui-dialog-title {
	font-size: 1.9rem;
	color: #727579;
	background: 0;
	padding: 5px 0 10px 0;
	margin: 0; }
	
.ui-dialog .ui-dialog-content {
	padding: 0; }

.ui-dialog .button-group {
	margin-top: 30px; }
			
.ui-dialog .button-group,
.ui-dialog .ui-dialog-buttonpane {
	border: 0;
	padding: .5rem;
	text-align: center; }
	
.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset {
	float: none; }
	
.ui-dialog .ui-dialog-buttonpane button {
	margin: .5rem; }
	
.ui-widget-overlay {
	opacity: 0.27;
	background-color: #000; }

.dialog-user-group > ul > li > ul > li {
	 padding-left: 30px; }

.dialog-user-group li {
	list-style: none;
	border-top: 1px solid #efefef; }
	
.dialog-user-group > ul > li:first-child {
	border-top: 0; }
	
.dialog-user-group > ul {
	border-bottom: 1px solid #efefef; }

.dialog-data-group > ul > li > ul > li {
	 padding-left: 30px; }

.dialog-data-group li {
	list-style: none;
	border-top: 1px solid #efefef; }
	
.dialog-data-group > ul > li:first-child {
	border-top: 0; }
	
.dialog-data-group > ul {
	border-bottom: 1px solid #efefef; }

}


    